
.border-t {
  border-top-width: 1px;
  border-top-style: solid;
}
.border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.border-l {
  border-left-width: 1px;
  border-left-style: solid;
}
.border-r {
  border-right-width: 1px;
  border-right-style: solid;
}
.border{
    border-width: 1px;
    border-style: solid;
}
.border-0 {
  border-width: 0px;
  border-style: solid;
}


@media (max-width:781px) {
  .max-sm\:border-t {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .max-sm\:border-0 {
    border-width: 0px;
    border-style: solid;
  }
  .max-sm\:border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .max-sm\:border-l {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .max-sm\:border-r {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .max-sm\:border {
    border-width: 1px;
    border-style: solid;
  }
}

@media (min-width:782px) {
  .md\:border-t {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .md\:border-0 {
    border-width: 0px;
    border-style: solid;
  }
  .md\:border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .md\:border-l {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .md\:border-r {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .md\:border {
    border-width: 1px;
    border-style: solid;
  }
}

@media (min-width:922px) {
  .lg\:border-t {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .lg\:border-0 {
    border-width: 0px;
    border-style: solid;
  }
  .lg\:border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .lg\:border-l {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .lg\:border-r {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .lg\:border {
    border-width: 1px;
    border-style: solid;
  }
}

@media (min-width:1200px) {
  .xl\:border-t {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .xl\:border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .xl\:border-l {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .xl\:border-r {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .xl\:border {
    border-width: 1px;
    border-style: solid;
  }
  .xl\:border-0 {
    border-width: 0px;
    border-style: solid;
  }
}