
a.wp-block-button__link.wp-element-button img {
    width: 245px;
}
a.wp-block-button__link.wp-element-button{
    width: 100%;
    padding:10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7px;
}