/** Margins */
/**
guia   
   --h1: 44px;
    --h2: 30px;
    --h3: 24px;
    --text:16px;
    --h50:50px;
    --h100:100px;  
**/

.m-0{
    margin:0 !important;
}
.m-16{
    margin:var(--text) !important;
}
.m-24{
    margin:var(--h3) !important;
}
.m-30{
    margin:var(--h2) !important;
}
.m-44{
    margin:var(--h1) !important;
}
.m-50{
    margin:var(--h50) !important;
}
.m-100{
    margin:var(--h100) !important;
}
.mr-0{
    margin-right:0 !important;
}
.mr-16{
    margin-right:var(--text) !important;
}
.mr-24{
    margin-right:var(--h3) !important;
}
.mr-30{
    margin-right:var(--h2) !important;
}
.mr-44{
    margin-right:var(--h1) !important;
}
.mr-50{
    margin-right:var(--h50) !important;
}
.mr-100{
    margin-right:var(--h100) !important;
}
.ml-0{
    margin-left:0 !important;
}
.ml-16{
    margin-left:var(--text) !important;
}
.ml-24{
    margin-left:var(--h3) !important;
}
.ml-30{
    margin-left:var(--h2) !important;
}
.ml-44{
    margin-left:var(--h1) !important;
}
.ml-50{
    margin-left:var(--h50) !important;
}
.ml-100{
    margin-left:var(--h100) !important;
}
.mt-0{
    margin-top:0 !important;
}
.mt-16{
    margin-top:var(--text) !important;
}
.mt-24{
    margin-top:var(--h3) !important;
}
.mt-30{
    margin-top:var(--h2) !important;
}
.mt-44{
    margin-top:var(--h1) !important;
}
.mt-50{
    margin-top:var(--h50) !important;
}
.mt-100{
    margin-top:var(--h100) !important;
}
.mb-0{
    margin-bottom:0 !important;
}
.mb-16{
    margin-bottom:var(--text) !important;
}
.mb-24{
    margin-bottom:var(--h3) !important;
}
.mb-30{
    margin-bottom:var(--h2) !important;
}
.mb-44{
    margin-bottom:var(--h1) !important;
}
.mb-50{
    margin-bottom:var(--h50) !important;
}
.mb-100{
    margin-bottom:var(--h100) !important;
}
.mx-auto{
    margin-left:auto !important; margin-right:auto !important;
}
.m-auto{
    margin:auto !important;
}


.mx-0{margin-left:0 !important; margin-right:0 !important}
.mx-4{margin-left:calc(var(--text) / 4) !important; margin-right:calc(var(--text) / 4) !important}
.mx-8{margin-left:calc(var(--text) / 2) !important; margin-right:calc(var(--text) / 2) !important}
.mx-16{margin-left:var(--text) !important; margin-right:var(--text) !important}
.mx-24{margin-left:var(--h3) !important; margin-right:var(--h3) !important}
.mx-30{margin-left:var(--h2) !important; margin-right:var(--h2) !important}
.mx-44{margin-left:var(--h1) !important; margin-right:var(--h1) !important}
.mx-50{margin-left:var(--h50) !important; margin-right:var(--h50) !important}
.mx-100{margin-left:var(--h100) !important; margin-right:var(--h100) !important}
.my-0{margin-top:0 !important; margin-bottom:0 !important}
.my-16{margin-top:var(--text) !important; margin-bottom:var(--text) !important}
.my-24{margin-top:var(--h3) !important; margin-bottom:var(--h3) !important}
.my-30{margin-top:var(--h2) !important; margin-bottom:var(--h2) !important}
.my-44{margin-top:var(--h1) !important; margin-bottom:var(--h1) !important}
.my-50{margin-top:var(--h50) !important; margin-bottom:var(--h50) !important}
.my-100{margin-top:var(--h100) !important; margin-bottom:var(--h100) !important}


@media (max-width:781px) {
    .max-sm\:m-0{margin:0 !important}
    .max-sm\:m-16{margin:var(--text) !important}
    .max-sm\:m-24{margin:var(--h3) !important}
    .max-sm\:m-30{margin:var(--h2) !important}
    .max-sm\:m-44{margin:var(--h1) !important}
    .max-sm\:m-50{margin:var(--h50) !important}
    .max-sm\:m-100{margin:var(--h100) !important}

    .max-sm\:mr-0{margin-right:0 !important}
    .max-sm\:mr-16{margin-right:var(--text) !important}
    .max-sm\:mr-24{margin-right:var(--h3) !important}
    .max-sm\:mr-30{margin-right:var(--h2) !important}
    .max-sm\:mr-44{margin-right:var(--h1) !important}
    .max-sm\:mr-50{margin-right:var(--h50) !important}
    .max-sm\:mr-100{margin-right:var(--h100) !important}

    .max-sm\:ml-0{margin-left:0 !important}
    .max-sm\:ml-16{margin-left:var(--text) !important}
    .max-sm\:ml-24{margin-left:var(--h3) !important}
    .max-sm\:ml-30{margin-left:var(--h2) !important}
    .max-sm\:ml-44{margin-left:var(--h1) !important}
    .max-sm\:ml-50{margin-left:var(--h50) !important}
    .max-sm\:ml-100{margin-left:var(--h100) !important}

    .max-sm\:mt-0{margin-top:0 !important}
    .max-sm\:mt-16{margin-top:var(--text) !important}
    .max-sm\:mt-24{margin-top:var(--h3) !important}
    .max-sm\:mt-30{margin-top:var(--h2) !important}
    .max-sm\:mt-44{margin-top:var(--h1) !important}
    .max-sm\:mt-50{margin-top:var(--h50) !important}
    .max-sm\:mt-100{margin-top:var(--h100) !important}

    .max-sm\:mb-0{margin-bottom:0 !important}
    .max-sm\:mb-16{margin-bottom:var(--text) !important}
    .max-sm\:mb-24{margin-bottom:var(--h3) !important}
    .max-sm\:mb-30{margin-bottom:var(--h2) !important}
    .max-sm\:mb-44{margin-bottom:var(--h1) !important}
    .max-sm\:mb-50{margin-bottom:var(--h50) !important}
    .max-sm\:mb-100{margin-bottom:var(--h100) !important}
    .max-sm\:mx-0{margin-left:0 !important; margin-right:0 !important}
    .max-sm\:mx-16{margin-left:var(--text) !important; margin-right:var(--text) !important}
    .max-sm\:mx-24{margin-left:var(--h3) !important; margin-right:var(--h3) !important}
    .max-sm\:mx-30{margin-left:var(--h2) !important; margin-right:var(--h2) !important}
    .max-sm\:mx-44{margin-left:var(--h1) !important; margin-right:var(--h1) !important}
    .max-sm\:mx-50{margin-left:var(--h50) !important; margin-right:var(--h50) !important}
    .max-sm\:mx-100{margin-left:var(--h100) !important; margin-right:var(--h100) !important}

    .max-sm\:my-0{margin-top:0 !important; margin-bottom:0 !important}
    .max-sm\:my-16{margin-top:var(--text) !important; margin-bottom:var(--text) !important}
    .max-sm\:my-24{margin-top:var(--h3) !important; margin-bottom:var(--h3) !important}
    .max-sm\:my-30{margin-top:var(--h2) !important; margin-bottom:var(--h2) !important}
    .max-sm\:my-44{margin-top:var(--h1) !important; margin-bottom:var(--h1) !important}
    .max-sm\:my-50{margin-top:var(--h50) !important; margin-bottom:var(--h50) !important}
    .max-sm\:my-100{margin-top:var(--h100) !important; margin-bottom:var(--h100) !important}

    .max-sm\:mx-auto{
    margin-left:auto !important; margin-right:auto !important;
}
.max-sm\:m-auto{
    margin:auto !important;
}
}

@media (min-width:782px) {
    .md\:m-0{margin:0 !important}
    .md\:m-16{margin:var(--text) !important}
    .md\:m-24{margin:var(--h3) !important}
    .md\:m-30{margin:var(--h2) !important}
    .md\:m-44{margin:var(--h1) !important}
    .md\:m-50{margin:var(--h50) !important}
    .md\:m-100{margin:var(--h100) !important}

    .md\:mr-0{margin-right:0 !important}
    .md\:mr-16{margin-right:var(--text) !important}
    .md\:mr-24{margin-right:var(--h3) !important}
    .md\:mr-30{margin-right:var(--h2) !important}
    .md\:mr-44{margin-right:var(--h1) !important}
    .md\:mr-50{margin-right:var(--h50) !important}
    .md\:mr-100{margin-right:var(--h100) !important}

    .md\:ml-0{margin-left:0 !important}
    .md\:ml-16{margin-left:var(--text) !important}
    .md\:ml-24{margin-left:var(--h3) !important}
    .md\:ml-30{margin-left:var(--h2) !important}
    .md\:ml-44{margin-left:var(--h1) !important}
    .md\:ml-50{margin-left:var(--h50) !important}
    .md\:ml-100{margin-left:var(--h100) !important}

    .md\:mt-0{margin-top:0 !important}
    .md\:mt-16{margin-top:var(--text) !important}
    .md\:mt-24{margin-top:var(--h3) !important}
    .md\:mt-30{margin-top:var(--h2) !important}
    .md\:mt-44{margin-top:var(--h1) !important}
    .md\:mt-50{margin-top:var(--h50) !important}
    .md\:mt-100{margin-top:var(--h100) !important}

    .md\:mb-0{margin-bottom:0 !important}
    .md\:mb-16{margin-bottom:var(--text) !important}
    .md\:mb-24{margin-bottom:var(--h3) !important}
    .md\:mb-30{margin-bottom:var(--h2) !important}
    .md\:mb-44{margin-bottom:var(--h1) !important}
    .md\:mb-50{margin-bottom:var(--h50) !important}
    .md\:mb-100{margin-bottom:var(--h100) !important}
    .md\:mx-0{margin-left:0 !important; margin-right:0 !important}
    .md\:mx-16{margin-left:var(--text) !important; margin-right:var(--text) !important}
    .md\:mx-24{margin-left:var(--h3) !important; margin-right:var(--h3) !important}
    .md\:mx-30{margin-left:var(--h2) !important; margin-right:var(--h2) !important}
    .md\:mx-44{margin-left:var(--h1) !important; margin-right:var(--h1) !important}
    .md\:mx-50{margin-left:var(--h50) !important; margin-right:var(--h50) !important}
    .md\:mx-100{margin-left:var(--h100) !important; margin-right:var(--h100) !important}

    .md\:my-0{margin-top:0 !important; margin-bottom:0 !important}
    .md\:my-16{margin-top:var(--text) !important; margin-bottom:var(--text) !important}
    .md\:my-24{margin-top:var(--h3) !important; margin-bottom:var(--h3) !important}
    .md\:my-30{margin-top:var(--h2) !important; margin-bottom:var(--h2) !important}
    .md\:my-44{margin-top:var(--h1) !important; margin-bottom:var(--h1) !important}
    .md\:my-50{margin-top:var(--h50) !important; margin-bottom:var(--h50) !important}
    .md\:my-100{margin-top:var(--h100) !important; margin-bottom:var(--h100) !important}

    .md\:mx-auto{
    margin-left:auto !important; margin-right:auto !important;
}
.md\:m-auto{
    margin:auto !important;
}
}

@media (min-width:922px) {
    .lg\:m-0{margin:0 !important}
    .lg\:m-16{margin:var(--text) !important}
    .lg\:m-24{margin:var(--h3) !important}
    .lg\:m-30{margin:var(--h2) !important}
    .lg\:m-44{margin:var(--h1) !important}
    .lg\:m-50{margin:var(--h50) !important}
    .lg\:m-100{margin:var(--h100) !important}

    .lg\:mr-0{margin-right:0 !important}
    .lg\:mr-16{margin-right:var(--text) !important}
    .lg\:mr-24{margin-right:var(--h3) !important}
    .lg\:mr-30{margin-right:var(--h2) !important}
    .lg\:mr-44{margin-right:var(--h1) !important}
    .lg\:mr-50{margin-right:var(--h50) !important}
    .lg\:mr-100{margin-right:var(--h100) !important}

    .lg\:ml-0{margin-left:0 !important}
    .lg\:ml-16{margin-left:var(--text) !important}
    .lg\:ml-24{margin-left:var(--h3) !important}
    .lg\:ml-30{margin-left:var(--h2) !important}
    .lg\:ml-44{margin-left:var(--h1) !important}
    .lg\:ml-50{margin-left:var(--h50) !important}
    .lg\:ml-100{margin-left:var(--h100) !important}

    .lg\:mt-0{margin-top:0 !important}
    .lg\:mt-16{margin-top:var(--text) !important}
    .lg\:mt-24{margin-top:var(--h3) !important}
    .lg\:mt-30{margin-top:var(--h2) !important}
    .lg\:mt-44{margin-top:var(--h1) !important}
    .lg\:mt-50{margin-top:var(--h50) !important}
    .lg\:mt-100{margin-top:var(--h100) !important}

    .lg\:mb-0{margin-bottom:0 !important}
    .lg\:mb-16{margin-bottom:var(--text) !important}
    .lg\:mb-24{margin-bottom:var(--h3) !important}
    .lg\:mb-30{margin-bottom:var(--h2) !important}
    .lg\:mb-44{margin-bottom:var(--h1) !important}
    .lg\:mb-50{margin-bottom:var(--h50) !important}
    .lg\:mb-100{margin-bottom:var(--h100) !important}
    .lg\:mx-0{margin-left:0 !important; margin-right:0 !important}
    .lg\:mx-16{margin-left:var(--text) !important; margin-right:var(--text) !important}
    .lg\:mx-24{margin-left:var(--h3) !important; margin-right:var(--h3) !important}
    .lg\:mx-30{margin-left:var(--h2) !important; margin-right:var(--h2) !important}
    .lg\:mx-44{margin-left:var(--h1) !important; margin-right:var(--h1) !important}
    .lg\:mx-50{margin-left:var(--h50) !important; margin-right:var(--h50) !important}
    .lg\:mx-100{margin-left:var(--h100) !important; margin-right:var(--h100) !important}

    .lg\:my-0{margin-top:0 !important; margin-bottom:0 !important}
    .lg\:my-16{margin-top:var(--text) !important; margin-bottom:var(--text) !important}
    .lg\:my-24{margin-top:var(--h3) !important; margin-bottom:var(--h3) !important}
    .lg\:my-30{margin-top:var(--h2) !important; margin-bottom:var(--h2) !important}
    .lg\:my-44{margin-top:var(--h1) !important; margin-bottom:var(--h1) !important}
    .lg\:my-50{margin-top:var(--h50) !important; margin-bottom:var(--h50) !important}
    .lg\:my-100{margin-top:var(--h100) !important; margin-bottom:var(--h100) !important}

    .lg\:mx-auto{
    margin-left:auto !important; margin-right:auto !important;
}
.lg\:m-auto{
    margin:auto !important;
}
}

@media (min-width:1200px) {
    .xl\:m-0{margin:0 !important}
    .xl\:m-16{margin:var(--text) !important}
    .xl\:m-24{margin:var(--h3) !important}
    .xl\:m-30{margin:var(--h2) !important}
    .xl\:m-44{margin:var(--h1) !important}
    .xl\:m-50{margin:var(--h50) !important}
    .xl\:m-100{margin:var(--h100) !important}

    .xl\:mr-0{margin-right:0 !important}
    .xl\:mr-16{margin-right:var(--text) !important}
    .xl\:mr-24{margin-right:var(--h3) !important}
    .xl\:mr-30{margin-right:var(--h2) !important}
    .xl\:mr-44{margin-right:var(--h1) !important}
    .xl\:mr-50{margin-right:var(--h50) !important}
    .xl\:mr-100{margin-right:var(--h100) !important}

    .xl\:ml-0{margin-left:0 !important}
    .xl\:ml-16{margin-left:var(--text) !important}
    .xl\:ml-24{margin-left:var(--h3) !important}
    .xl\:ml-30{margin-left:var(--h2) !important}
    .xl\:ml-44{margin-left:var(--h1) !important}
    .xl\:ml-50{margin-left:var(--h50) !important}
    .xl\:ml-100{margin-left:var(--h100) !important}

    .xl\:mt-0{margin-top:0 !important}
    .xl\:mt-16{margin-top:var(--text) !important}
    .xl\:mt-24{margin-top:var(--h3) !important}
    .xl\:mt-30{margin-top:var(--h2) !important}
    .xl\:mt-44{margin-top:var(--h1) !important}
    .xl\:mt-50{margin-top:var(--h50) !important}
    .xl\:mt-100{margin-top:var(--h100) !important}

    .xl\:mb-0{margin-bottom:0 !important}
    .xl\:mb-16{margin-bottom:var(--text) !important}
    .xl\:mb-24{margin-bottom:var(--h3) !important}
    .xl\:mb-30{margin-bottom:var(--h2) !important}
    .xl\:mb-44{margin-bottom:var(--h1) !important}
    .xl\:mb-50{margin-bottom:var(--h50) !important}
    .xl\:mb-100{margin-bottom:var(--h100) !important}
    .xl\:mx-0{margin-left:0 !important; margin-right:0 !important}
    .xl\:mx-16{margin-left:var(--text) !important; margin-right:var(--text) !important}
    .xl\:mx-24{margin-left:var(--h3) !important; margin-right:var(--h3) !important}
    .xl\:mx-30{margin-left:var(--h2) !important; margin-right:var(--h2) !important}
    .xl\:mx-44{margin-left:var(--h1) !important; margin-right:var(--h1) !important}
    .xl\:mx-50{margin-left:var(--h50) !important; margin-right:var(--h50) !important}
    .xl\:mx-100{margin-left:var(--h100) !important; margin-right:var(--h100) !important}

    .xl\:my-0{margin-top:0 !important; margin-bottom:0 !important}
    .xl\:my-16{margin-top:var(--text) !important; margin-bottom:var(--text) !important}
    .xl\:my-24{margin-top:var(--h3) !important; margin-bottom:var(--h3) !important}
    .xl\:my-30{margin-top:var(--h2) !important; margin-bottom:var(--h2) !important}
    .xl\:my-44{margin-top:var(--h1) !important; margin-bottom:var(--h1) !important}
    .xl\:my-50{margin-top:var(--h50) !important; margin-bottom:var(--h50) !important}
    .xl\:my-100{margin-top:var(--h100) !important; margin-bottom:var(--h100) !important}
    .xl\:mx-auto{
    margin-left:auto !important; margin-right:auto !important;
    }
    .xl\:m-auto{
    margin:auto !important;
    }
}