

.entry-content > .wp-block-group, .entry-content > .wp-block-cover, .entry-content > .wp-block-columns {
    padding-top: inherit;
    padding-right: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
}

 
.wpcf7 form p {
    margin: 0;
}
.wpcf7 form .wpcf7-form-control{
    font-weight: 500 !important;
}
.wpcf7 form br{
    display: none !important;
}

.faq-answer-ignite{
   
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 0;
    z-index: 0;
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px;

}
.latest-post-list {
    width: calc(100% - 100px);
    margin: auto;
}
.term-list-item.hidden-term {
    opacity: 0;
    display: none;
}
.faq-answer-ignite.show {
    height: auto !important;
    z-index: 1;
    opacity: 1;
    padding-top: 10px;
     z-index: 1;
}
.page-numbers {
    font-weight: 600;
    color: rgb(var(--secondary-color));
    transition: all 0.3s ease;
}

div#crumbs a {
    color: rgb(var(--gray-color));
    text-decoration: none;
    transition: all 0.3s ease;
}
div#crumbs a:hover {
    color: rgb(var(--third-color));
    text-decoration: underline;
}
label.ez-toc-title.ez-toc-toggle.ez-toc-loaded {
    font-weight: 600 !important;
}
.ez-toc-title-container span.ez-toc-js-icon-con {
    display: none !important;
}
.ez-toc-title-container:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
}
.ez-toc-title-container {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.ez-toc-title-container:after {
    content: "";
    display: block;
    width: 9px;
    height: 10px;
    border-bottom: 2px solid rgb(var(--primary-color));
    border-right: 2px solid rgb(var(--primary-color));
    transform: rotate(45deg);
    transition: all 0.3s ease;
    position: relative;
    top: -3px;
}
.toc_close .ez-toc-title-container:after{
    transform: rotate(-135deg);
    top: 3px;
}
.table-content #ez-toc-container {
  
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: table;
    margin-bottom: 0;
    padding: 10px 20px 10px 10px;
    position: relative;
    width: 100%;
}
.term-accordeom-title.h4.bold {
    margin: 0 !important;
    padding: 10px 24px;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.term-list-items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.term-list-item.active,
.term-list-item:hover {
    background: rgb(var(--primary-color));
    color: rgb(var(--white-color));
}
.menu-toggle, button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"], #comments .submit, .search .search-submit, form[CLASS*="wp-block-search__"].wp-block-search .wp-block-search__inside-wrapper .wp-block-search__button, body .wp-block-file .wp-block-file__button, .search .search-submit{
    border-bottom: none;
    border-color: transparent !important;
}
.page-numbers:hover,
.page-numbers.current {
    color: rgb(var(--third-color));
}
span.wpcf7-spinner {
    position: absolute;
    left: 0;
}

p a {
    color: rgb(var(--primary-color));
    text-decoration: underline;
}
p a:hover {
    color: rgb(var(--third-color));
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
}
.modal-wrapper.active {
    display: block;
    width: 100%;
    height: 100%;
   
    overflow-y: auto;
}
.modal-wrapper .modal{
    max-width: 700px;
    margin: auto;
}
button, .button, input[type="button"], input[type="reset"], input[type="submit"], a:where(.wp-block-button__link) {
    appearance: none;
    box-shadow: none;
}

/* Custom logo basic styles */
.site-logo img,
.custom-logo {
    max-height: 80px;
    width: auto;
    display: inline-block;
}

.site-title-wrap .site-title {
    margin: 0;
    font-size: var(--text);
}

.site-description {
    margin: 0;
    font-size: 0.9rem;
    
}
